<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSV file graph visualization</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>CSV file graph visualization</h1>
    <h2>Upload a csv file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" id="csvFile" name="csvFile" accept=".csv" required />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
